*
{
    margin: 0;
    padding: 0;

}
body{
    width:100vw;
    height:100vh;
    padding:10px; 
    background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(23,228,244,1) 0%, rgba(176,243,170,1) 100%);

}
.box
{
    background-color: white;
    max-width: 400px;
    width:100%;
    margin: 120px auto ;
    padding:25px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
}

.box header{
  font-size: 30px;
  font-weight: 600;
}
.box .inner{
  margin: 20px 0;
  width: 100%;
  display: flex;
  height: 45px;
}
.inner input{
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}
.inner button{
  width: 10%;
  height: 100%;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: #147ef8;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0.8;
  pointer-events: none;
  transition: all 0.3s ease;
}
.inner button:hover,
.footer button:hover{
  background: #c19cf3;
}
.inner button.active{
  opacity: 1;
  pointer-events: auto;
}
.box .to_do{
  max-height: 250px;
  overflow-y: auto;
}
.to_do li{
  position: relative;
  list-style: none;
  margin-bottom: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: default;
  overflow: hidden;
  word-wrap: break-word;
}
.to_do li .icon{
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  background: #e74c3c;
  width: 45px;
  text-align: center;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.to_do li:hover .icon{
  right: 0px;
}
.box .footer{
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer button{
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background: #147ef8;
  cursor: pointer;
  user-select: none;
  opacity: 0.6;
  pointer-events: none;
  transition: all 0.3s ease;
}
.footer button.active{
  opacity: 1;
  pointer-events: auto;
}